[sub_account]
API_KEY=
SECRET_KEY=
[cerebro]
init_cash=10000
curr_strategy=turtle
commission=0.0001
trading_pair=BTCUSDT
start_date=20241010
end_date=20241202
fix_position=0.05
leverage=20


[turtle_strategy]
open_period=20
close_period=10


